input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

#form {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 40px;
}

#inputBox {
  width: 86px;
  height: 38px;
}

#userNum {
  display: flex;
  flex-basis: 10%;
}

#btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fibonacciNumber {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
}

#error42 {
  font-size: 15px;
  color: #D9534F;
  display: flex;
  flex: 1;
}
.above51Error {
  display: flex;
  flex-direction: column;
}

#error {
  visibility: hidden;
  display: flex;
  font-size: 16px;
  width: 180px;
  height: 33px;
  position: relative;
  left: 135px;
  
}